@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

body 
{
	background-image:url(resources/Background2.jpg);
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
}

.table
{
	background-color:#CCCCCC;
	padding:1%;
	position:relative;
	margin:2.5%;
	width: 50%;
	
}

.date
{
	background: #B9B7B1;
	background-image: radial-gradient(
		center 0,
		white,
		#B9B7B1
	);
	width: 250px; height: 50px;
	background: white;
	font-size: 2em;
	color: #707070;
	
	/* Centering everything */
	position: absolute;
	left: 87.5%; top: 74.75%;
	margin-left: -125px; margin-top: -50px;
	
	text-align: center;
	line-height: 50px;
	
	background-image: linear-gradient(#f0f0f0, white);
}

.time
{
	background: #B9B7B1;
	background-image: radial-gradient(
		center 0,
		white,
		#B9B7B1
	);
	width: 250px; height: 100px;
	background: white;
	font-size: 3.5em;
	color: #707070;
	
	/* Centering everything */
	position: absolute;
	left: 87.5%; top: 80%;
	margin-left: -125px; margin-top: -50px;
	
	text-align: center;
	line-height: 100px;
	
	border-top: 5px solid #01DFD7;
	background-image: linear-gradient(#f0f0f0, white);
	
}

