@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(Background.jpg);
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	
}

.all
{
	max-height:auto;
	max-width:auto;
	width:50%;
	height:50%;
	overflow:auto;
	margin:auto;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	vertical-align:middle;
	text-align:center;
}

h1
{
	background-color:#009999;
	margin-left:auto;
	margin-right:auto;
    margin-bottom: 25px;
	max-width:270px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow:3px 3px 25px -3px #000000;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	font-size:36px;
	font-family:"Times New Roman", Times, serif;
	font-weight:lighter;
	color:#f5f5f5;
	/*text-shadow:2px 2px 5px #000000;*/
}

inputs:-webkit-input-placeholder 
{
    color: #b5b5b5;
}

inputs-moz-placeholder 
{
    color: #b5b5b5;
}

.inputs 
{
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 270px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
}

.inputs:focus 
{
    background: #ffffff;
    box-shadow: 0 0 0 3px #7fffd4, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

.button 
{
	-moz-box-shadow: 9px 10px 14px -7px #276873;
	-webkit-box-shadow: 8px 10px 14px -7px #276873;
	box-shadow: 8px 10px 14px -7px #276873;
	background-color:#009999;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	padding:8px 36px;
	text-decoration:none;
	text-shadow:1px 1px 1px #3d768a;
}
.button:hover 
{
	background-color:#006B6B;
}
.button:active 
{
	position:relative;
	top:1px;
}
